{% extends 'flatpages/default.html'%}

{% load custom_filters %}

{% block title %}
news
{% endblock title %}

{% block content %}
    <h1>Последние новости</h1>
    <table>
           <tr>
               <td>Дата публикации</td>
               <td>Автор статьи</td>
               <td>Название статьи</td>
               <td>Начало статьи</td>
               <td>Категория</td>
           </tr>

           {% for article in articles %}
           <tr>
               <td>{{ article.news_data|date:'d M Y'}}</td>
                <td>{{ article.author }}</td>
               <td>
                   <a href="{% url 'news_detail' article.id %}">{{ article.name|censor }}</a>
               </td>
               <td>{{article.news_text|truncatechars:20|censor}}</td>
               <td>
                    {% for c in article.postCategory.all %}
                        {{ c.name }} <!-- не забываем что переменные в шаблоне ничем не отличаются от переменных в python. Здесь также можно получать доступ к полям класса. Например здесь мы выводим имя, в следующем столбце описание, и т.д.  -->
                    {% endfor %}
                </td>
              <td>
                   <a href="{% url 'news_edit' article.id %}"><u>Редактировать</u></a>
                   <a href="{% url 'news_delete' article.id %}"><u>Удалить</u></a>
               </td>
           </tr>
           {% endfor %}
    </table>
{% if is_paginated %}

    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    {% if page_obj.has_previous %}
        <a href="?page=1">First</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}


    {% if page_obj.has_next %}
        <a href="?page={{page_obj.next_page_number}}">>>>></a>
        <a href="?page={{page_obj.paginator.num_pages}}">Last</a>
    {% endif %}
{% endif %} <br>
<a href="{% url 'news_search' %}"><u>Поиск новостей</u></a><br>
<a href="{% url 'category_list' %}"><u>Подписаться на новости</u></a><br>
<a href="{% url 'news_create' %}"><u>Добавить новость</u></a>

<!--<form method="POST">-->
<!--    {% csrf_token %}-->
<!--    <label for="name">Название</label>-->
<!--    <input name="name" type="text">-->

<!--    <label for="news_text">Содержание</label>-->
<!--    <input name="news_text" type="text">-->

<!--    <label for="author">Автор</label>-->
<!--    <input name="author" type="text">-->


<!--    <input type="submit" value="Добавить статью">-->
<!--</form>-->

{% endblock content %}
